<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177511492-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177511492-1');
    </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pristine Analytics</title>

    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Bootstrap and JQuery-->
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/66634f6c24.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/mdb.min.css">

    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=PT+Sans:wght@700&display=swap" rel="stylesheet">


  </head>


<header>


  <!-- Top Introduction -->
  <div class = "h-100 row align-items-center">
    <div class="col-md-4 offset-md-4">
      <a href="../../index.html" class="btn btn-outline-secondary d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 20px;">
        Navigate to Home Page
      </a>
      <h1 style="text-align: center;">This is a Blog Post</h1>
      <h2 style="text-align: center;">Author: Danial Hussain</h2>
      <p></p>
      <p></p>
      <img src="">

    </div>
  </div>


</header>


</html>